export(signalToFig)
export(reSizeIMG)
export(rdsMerge)
export(getPolygonPionts)
export(coordLinearEXP)
export(preAutoRegister)
export(preAutoRegisterHE)
export(markPlot)
export(pixelEXPPlot)
export(RapidRegister)
export(RapidRegisterOUT)
export(RapidRegisterHE)
export(JsonCheck)
export(checkLabelmeRegion)
export(wcellDue)
export(moduleGene)
export(IGSI)
export(IGSIGrid)
export(wcellDueGrid)
